@page "/cases/{CaseId}"
@inject CSGOApiService ApiService
<PageTitle>@caseName</PageTitle>
<h3 class="text-center">@caseName</h3>
@if (caseDto == null || caseName == null)
{
	<p>Loading or case not found...</p>
}
else
{
	<div class="d-flex justify-content-center my-5">
		<button class="btn btn-primary play-button" @onclick="OpenCase">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
			class="bi bi-play-fill me-2" viewBox="0 0 16 16">
				<path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z" />
			</svg>
			Open Case
		</button>
	</div>
	<p class="text-center">@changedName</p>
	<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">

		@foreach (var skin in caseDto.Skins)
		{
			<div class="col">
				<div class="card h-100 shadow-sm border-1" style="border: 2px solid @skin.Rarity.Color">
					<img src="@skin.Image" class="card-img-top rounded-top" alt="@skin.Name" style="object-fit: cover; height: 200px;">
					<div class="card-body text-center">
						<h5 class="card-title fw-bold">@skin.Name</h5>
						<span class="badge rounded-pill px-3 py-2" style="background-color:@skin.Rarity.Color">
							@skin.Rarity.Name
						</span>
					</div>
				</div>
			</div>
		}

		<div class="col">
			<div class="card h-100 shadow-sm border border-warning">
				<img src="https://pbs.twimg.com/media/GnaI_Rdb0AAj6aw.png"
				class="card-img-top rounded-top"
				alt="Rare Special Item"
				style="object-fit: cover; height: 200px;">
				<div class="card-body text-center">
					<h5 class="card-title fw-bold text-warning">★ Rare Special Item</h5>
					<span class="badge rounded-pill px-3 py-2" style="background-color:#FFD700; color:#000;">
						Rare Special Item
					</span>
				</div>
			</div>
		</div>
	</div>
}
<style>

</style>
@code {
	[Parameter]
	public string CaseId { get; set; }

	private CasesDto? caseDto;

	private string? caseName;

	private string changedName = "ASD";
	protected override async Task OnInitializedAsync()
	{
		caseDto = await ApiService.GetCaseAsync(CaseId);
		caseName = caseDto.Name;
	}
	private async Task OpenCase() => changedName = "meow bau";


}
